body{
    background-color: rgb(192, 214, 222);
}
.form-control{
    background-color: rgb(174, 193, 199);
    border-width: thin;
    border: 2px solid rgb(119, 146, 160);
}
#dload-fn{
    width: 230px;
    background-color: #0d6efd;
    border: 0px solid black;
    border-radius: 6px;
    padding: 5px;
}
input::placeholder{
    color: white;
  }
